* {
  margin: 0;
  padding: 0;
}
/*------------------------------------scroll up start------------------------------------*/
#scrollUp {
  bottom: 20px;
  right: 20px;
  background-image: url('../assets/top.png');
  width: 38px;
  height: 38px;
}

/*--------------------------------------scroll up end------------------------------------*/
/*------------------------------------banner-section-------------------------------------*/
h1 {
  font-family: 'Playfair Display', serif;

}

h1:hover {
  color: #008000 !important;
}

.img-background {
  background: url(../assets/blogimages/blogbanner01.jpg) center/cover no-repeat;
  height: 450px;
  width: 100%;
}
/*---------------------------banner-section--end-----------------------------------------*/
/*----------------------------------cart-section-----------------------------------*/
.img-product img{
  height: 150px;
  width: 150px;
}
/*---------------------------------cart-section-----------------------------*/

button{
  font-family: 'Playfair Display', serif!important;
  font-size: 18px!important;
  font-weight: 500!important;
  color: #ffffff!important;
}

/*----------------------------------cart section--------------------------------*/
.footer{
  background-color: #008000;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 500;
}
/*-------------------------------cart section--------------------------------*/

table {
  width: 100%;
  border-collapse: collapse;
}

.cartinfo {
  display: flex;
  flex-wrap: wrap;
  line-height: 20px;
}

th {
  font-family: 'Playfair Display', serif!important;
  margin-bottom: 30px !important;
  height: 60px;
  font-weight:600;
  font-size: 20px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
  color: #008000;

}

td a {
  color: #008000;

}

.total_price {
  display: flex !important;
  justify-content: flex-end !important;

}

.total_price table {
  border-top: 3px solid #008000;
  width: 580px !important;
}

td:last-child {
  text-align: right;
}

th :last-child {
  text-align: right !important;
}

.sub {
  text-align: right;
}

.text {
  background-color: #008000;
  color: #F2D4D6;
  font-size: 16px;
  padding: 11px 20px;
}

.input {
  padding: 11px 20px;

}

th,
td,
tr,
label {
  font-family: 'Poppins', sans-serif;
}

.button {
  background-color: #008000 !important;
  color: #F2D4D6 !important;
  height: 67px;
  margin: 10px 0;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 17px;
}
.secure{
  color: #ffffff;
}
.cart-sec i {
  color: #ffffff;
}



.text-shadow {
  font-style: italic;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 1px;
  text-shadow: 8px 8px 10px #008000;
  transition: all 0.5s ease-in-out;
  text-align: center;
  letter-spacing: 0.2em;
  animation: flicker 0.5s ease-in-out infinite alternate;

}

.tags small {
  @media (max-width: 768px) {
    font-size: 0.5em;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px #008000;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #008000;
  }
}

@media (max-width: 400px) {
  .hide {
    display: none;
  }

  .name {
    margin-top: 25px;
    margin-right: 20px;
  }

}

@media (max-width: 330px) {
  .quantity {
    position: relative;
    left: 10px;
  }

}
/*---------------------------------scroll-bar-----------------------------------------*/
body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #008000;
  --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
/*--------------------------scroll-bar-end-----------------------------------------------------*/