* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: green;
}


#navigater a{
    color: rgb(1, 3, 3);
    font-size: 20px;

    padding: 20px;
    font-weight: bold;
}
.icon i{
    margin-right: 20px;
}
.icon i{
    font-size: 25px;
}
.navbar-toggler {
    background-color: azure;
    color: azure;
}
.dropdown-menu{
    background-color: green;
    font-weight: 100;
}
